/*=========================== 全局*star ===========================*/
* html{
	background-image: url(about:blank);
	background-attachment: fixed;
}

body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,tr,dd,dl
	{
	margin: 0;
	padding: 0;
}

body {
	font: 14px/28px "Microsoft YaHei", helvetica, arial, verdana, tahoma,
		sans-serif;
	color: #222222;
	background: #FFF;
}

a {
	text-decoration: none;
	outline: none;
}

input,select {
	vertical-align: middle;
	outline: none;
	border: none;
}

textarea,input {
	word-wrap: break-word;
	word-break: break-all;
	padding: 0px;
	outline: none;
}

ul,li {
	list-style: none;
}

img {
	border: none;
	display: block;
}

table {
	border: none;
}

button {
	cursor: pointer;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

* html>body .clearfix {
	display: inline-block;
	width: 100%;
}

* html .clearfix { /* Hides from IE-mac \*/
	height: 1%;
	/* End hide from IE-mac */
}
/* ie7 hack*/
*+html .clearfix {
	min-height: 1%;
}

.clear {
	clear: both;
	height: 0px;
	width: 100%;
	font-size: 1px;
	line-height: 0px;
	visibility: hidden;
	overflow: hidden;
}

.center {
	margin: 0 auto;
}

.t_l {
	text-align: left;
}

.t_c {
	text-align: center;
}

.t_r {
	text-align: right;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.through {
	text-decoration: line-through;
}

.unline {
	text-decoration: underline;
}

.disunline {
	text-decoration: none;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.fixed {
	position: fixed;
}

.o-hidden {
	overflow: hidden;
}

.hidden {
	display: none;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.fb {
	font-weight: bold;
}

.fn {
	font-weight: normal;
}

.fi {
	font-style: italic;
}

.fs10 {
	font-size: 10px;
}

.fs12 {
	font-size: 12px;
}

.fs14 {
	font-size: 14px;
}

.fs16 {
	font-size: 16px;
}

.fs18 {
	font-size: 18px;
}

.fs20 {
	font-size: 20px;
}
/*=========================== 全局*end ===========================*/
#wrap {
	width: 100%;
}

.orderdata {
	width: 100%;
}

.dc_od {
	width: 100%;
}

.od_tt {
	background-color: #51d5e1;
	height: 41px;
}

.od_tt_btn {
	height: 23px;
	margin: 8px 0;
	width: 23px;
	cursor: pointer;
	background: url(icon.png) no-repeat top left;
}

.od_prev {
	background-position: 4px -1871px;
}

.od_next {
	background-position: 3px -1943px;
}

.timetable li {
	color: #FFF;
	cursor: default;
	display: block;
	font-size: 12px;
	line-height: 17px;
	height: 35px;
	margin: 3px 2px;
	text-align: center;
	width: 35px;
}

.timetable li.holiday {
	border-radius: 3px;
	background-color: #28C1D1;
}

.od_cnt {
	border-right: 1px solid #E6E6E6;
	min-height: 115px;
}

.beforenoon {
	border-bottom: 1px solid #eefad7;
}

.afternoon {
	border-bottom: 1px solid #ccedf2;
}

.od_cnt_time {
	padding: 1px 1px 1px 0;
}

.od_cnt_time div {
	background-color: #dff2f5;
	color: #00aec1;
	height: 40px;
	line-height: 18px;
	text-align: center;
	width: 22px;
}

.dc_od_cnt_li div {
	width: 38px;
}

.od_btn {
	margin-right: 1px;
	outline: 0;
	width: 36px;
	height: 38px;
}

.order_null {
	border: 1px solid #fff;
	cursor: default;
}

.order_off,.order_out,.order_man_out {
	background: #f7f7f7;
	border-color: #f7f7f7;
	color: #6a6a76;
	cursor: default;
	border: 1px solid #eefad7;
	line-height: 38px
}

.order_access {
	background-color: #eefad7;
	border: 1px solid #eefad7;
	color: #59aa21;
	line-height: 19px;
}

.order_access:hover {
	background: #67bb2e;
	border-color: #67bb2e;
	color: #FFF;
}

.bar_middle {
	background-color: #dff2f5;
	color: #00aec1;
	line-height: 40px;
	text-align: center;
	height: 40px;
	width: 100%;
}

.dpt_page {
	background-color: #51d5e1;
	height: 28px;
	padding: 14px 0;
	width: 740px;
}

.dc_page {
	height: 10px;
	width: 100%;
	background-color: #51d5e1;
}

.dpt_page a {
	height: 26px;
	margin: 0 2px;
	width: 26px;
	border-radius: 50%;
	line-height: 26px;
	background: #FFF;
}

.dpt_page a.page_on {
	background: #0093d0;
	color: #FFF;
}