.content{padding:20px 0;background:url(../images/regist_bg.jpg) repeat;}



.rg_tt{background-color: #ebf0f4;border-bottom: 1px solid #d3dde6;height: 59px;}
.rg_tt span{font-size: 18px;color: #34495e;background-color: #fff;font-weight: 700;border-bottom: 1px solid #fff;width: 130px;height: 58px;line-height: 58px;border-right: 1px solid #d3dde6;border-top: 1px solid #d3dde6;display:block;text-align:center;}
.rg_cnt{width:710px;height:440px;border-right: 1px solid #d3dde6;margin-left:20px;}
.rg_cnt p{font-size: 20px;font-weight: normal;margin: 48px auto 22px 105px;display:block;}
.rg_cnt li{height: 37px;margin-bottom:10px;}
.rg_cnt span{width:100px;text-align:right;display:block;height: 37px;line-height: 37px;color: #34495e;float:left;margin-right:10px;}
.rg_cnt input[type="text"], .rg_cnt input[type="password"]{width: 280px;height: 35px;padding-left: 5px;padding-right: 5px;border: 1px solid #d3dde6;display:block;float:left;font-size:14px;font-family:"Microsoft Yahei";}
.rg_cnt label{color: #df007d;background: url(../images/tips.png) no-repeat top left;background-position: 0px -72px;display:none;float: right;position: relative;overflow: visible;width: 270px;height: 35px;line-height: 35px;padding-left: 20px;font-size: 12px;background-repeat: no-repeat;}
.rg_cnt b{color: #df007d;background: url(../images/tips.png) no-repeat top left;background-position: 0px -72px;display:none;float: right;position: relative;overflow: visible;width: 270px;height: 35px;line-height: 35px;padding-left: 20px;font-size: 12px;background-repeat: no-repeat;}
.rg_cnt input[type="button"]{width: 290px;height: 45px;background-color: #1abc9c;border-radius: 4px;line-height: 45px;text-align: center;font-size: 25px;color: #fff;margin-left:110px;margin-top:15px;}
.rg_side{width:176px;height:330px;padding: 110px 22px 0 22px;}
.rg_sd{padding-left:40px;}
.rg_map{width:780px;height:50px;border-right: 1px solid #d3dde6;margin-left:20px;}
.rg_map span{width:100px;text-align:right;display:block;height: 37px;line-height: 37px;color: #34495e;float:left;margin-right:10px;}
.rg_map input[type="text"]{width: 280px;height: 35px;padding-left: 5px;padding-right: 5px;border: 1px solid #d3dde6;display:block;float:left;font-size:14px;font-family:"Microsoft Yahei";}
.rg_map input[type="button"]{width: 70px;height: 35px;background-color: #1abc9c;border-radius: 4px;line-height: 20px;text-align: center;font-size: 25px;color: #fff;margin-left:20px;margin-top:0px;}
.qst{background-position: -85px 10px;height:60px;}
.qst b, .qst p, .qst span, .tip p{display:block;width:100%;line-height:20px;}
.qst p{color: #f2ac55;}
.tip{background-position: -85px -71px;color: #666;border-top: 1px solid #eee;padding-top: 10px;margin-top:20px;height:120px;}
