/*=========================== 全局*star ===========================*/
*html{background-image:url(about:blank);background-attachment:fixed;}
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,tr,dd,dl{ margin:0; padding:0;}
body{font:14px/28px "Microsoft YaHei", helvetica, arial, verdana, tahoma, sans-serif; color:#222222; background:#FFF;}
a{text-decoration:none;outline:none;}
input,select{vertical-align:middle;outline:none;}
textarea,input{word-wrap:break-word;word-break:break-all;padding:0px;outline:none;}
ul, li{list-style:none;}
img{border:none;display:block;}
table{border:none;}
button{cursor:pointer;}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
* html>body .clearfix {display: inline-block;width: 100%;}
* html .clearfix {
/* Hides from IE-mac \*/
height: 1%;
/* End hide from IE-mac */
}
/* ie7 hack*/
*+html .clearfix {min-height: 1% ;}

.clear{clear:both; height:0px; width:100%; font-size:1px; line-height:0px; visibility:hidden; overflow:hidden;height:2000px;}
.center{margin:0 auto;}

.t_l{text-align:left;}
.t_c{text-align:center;}
.t_r{text-align:right;}

.fl{float:left;}
.fr{float:right;}

.through{text-decoration:line-through;}
.unline{text-decoration:underline;}
.disunline{text-decoration:none;}

.absolute{position:absolute;}
.relative{position:relative;}
.fixed{position:fixed;}

.o-hidden{overflow:hidden;}
.hidden{display:none;}
.block{display:block;}
.inline-block{display:inline-block;}

.fb{font-weight:bold;}
.fn{font-weight:normal;}
.fi{font-style:italic;}

.fs10{font-size:10px;}
.fs12{font-size:12px;}
.fs14{font-size:14px;}
.fs16{font-size:16px;}
.fs18{font-size:18px;}
.fs20{font-size:20px;}
/*=========================== 全局*end ===========================*/

.wrap{width:100%;}


.sp_icon, .login, .dc_icon i{background: url(../images/icon.png) no-repeat top left;}

.w960{width:960px;}

select:focus, input[type="text"]:focus, input[type="password"]:focus, textarea:focus{border: 1px solid #01a0d7;box-shadow: 0 0 3px #01a0d7;}

.nav{top:0;left:0;right:0;z-index:9999;background:#FFF;position:absolute;}
.city{padding:3px 16px 3px 5px;margin-right:8px;background:url(../images/city.jpg) no-repeat right 15px;}
.citynow{color:#ef961e;padding-right:5px;}
.citychange{color:#666;}
.city a:hover .citychange{color:#0093d0;}
.top li{float:left;line-height:34px;}
.top li a{color:#333;padding:0 10px 0 12px;}
.top li a:hover{color:#0093d0;}
.top li span{color:#d3dde6;}
.login{background-position: 0 8px;}
li.login a{padding-left:20px;}
.citylist{margin-top:36px;top:0;left: -1px;display:none;z-index:2000;background:#FFF;}
.citylist ul{padding: 10px 20px;width:598px;border: 1px solid #0093d0;box-shadow: 4px 4px 0 rgba(0,0,0,.1);display:block;}
.citylist dl{display:block;width:598px;}
.citylist dt, .citylist dd{float:left;line-height:34px;}
.citylist dt{padding-right:10px;color: #3AA53D;}
.citylist dd{font-size:12px;width:546px;}

.login_bg{width:100%;background:#333;opacity:0.7;top:0;left:0;right:0;display:none;z-index:999;}
.lg_bg{width:482px;height:350px;left:0;right:0;top:0;z-index:1000;background:#FFF;opacity:0.3;}
.lg_cnt{width:432px;height:330px;background:#FFF;left:0;right:0;top:0;z-index:1001;display:none;padding:0 15px;}
.lg_tt{padding:10px 0;border-bottom: 2px solid #ddd;}
.lg_tt span{color: #00bc9b;font-weight:bold;font-size:18px;}
.lg_tt a{color:#333;font-size:20px;line-height:20px;width:20px;height:20px;font-weight:0;margin-top::;px;padding:1px 2px 1px 0;}
.lg_tt a:hover{color:#FFF;background:#C72015;}
.wrong{display:none;background:#fcf8db;height:30px;width:100%;line-height:30px;font-size:12px;position:absolute;top:0;left:0;}
.wrong span{display:block;color:#df007d;height:30px;}
.wrong b{display:block;height:30px;width:25px;font-weight:bolder;font-family:"Terminal";color:#F00;float:left;text-align:center;}
.lg_form ul{width:384px;padding-top: 43px;}
.lg_form li{height:40px;line-height:40px;margin-bottom:10px;}
.lg_form li span{display:block;width:55px;text-align:right;float:left;font-size:12px;}
.lg_form li input{height:14px;line-height:14px;border:1px solid #D3DDE6;padding:10px 6px;margin-left:10px;font-size:14px;float:left;}
.lg_form li img{margin:0 5px;}
.login_btn{width:255px;height: 45px;line-height:45px;background-color:#1abc9c;border-radius:4px;font-size:24px;color:#fff;border:none;display:block;font-weight:bold;}

.header{height:50px;padding:20px;margin-top:36px;}
.logo{width:500px;}
.logo dt{width:50px;height:50px;float:left;margin-right:10px;}
.logo dd span{height:18px;line-height:18px;width:100%;}
.logo dd p{height:30px;line-height:28px;width:100%;}
.search{border:4px solid #68B9F8;border-radius:4px;width:418px;height:32px;margin-top:5px;}
.search input[type="text"]{color:#666;width:335px;height:24px;line-height:24px;border:none;padding:4px 0 4px 5px;}
.search input[type="submit"]{color:#fff;width:78px;height:32px;line-height:32px;border:none;font-weight:bold;background:#2996d0 url(../images/search.png) no-repeat 10px center;padding-left:19px;cursor:pointer;}

.footer{margin-top:40px;margin-bottom:30px;}
.footer p{color:#666;font-size:12px;line-height:20px;}